
code/.DS_Store
code/evaluation_both_approaches/.DS_Store
code/modular_approach/.DS_Store
code/modular_approach/archive/.DS_Store
code/unified_approach/.DS_Store
code/unified_approach/preprocessing_and_training/.DS_Store
code/unified_approach/preprocessing_and_training/bart-large/.DS_Store
code/unified_approach/preprocessing_and_training/pipeline_webpage_extractor/.DS_Store
data/.DS_Store
